.btnSubmit{
    font-weight: 600;
    width: 50%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
} 

label { 
    color: #fff;
}

.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
    /* width:960px; */
}
.login-logo{
    position: relative;
    margin-left: -13.5%;
}
.login-logo img{
    position: center;
    width: 20%;
    margin-top: 19%;
    background: #282726;
    border-radius: 4.5rem;
    padding: 5%;
}
.login-form-1{
    padding: 9%;
    background:#282726;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    text-align: center;
}
.login-form-1 h3{
    text-align: center;
    margin-bottom:12%;
    color:#fff;
}
.login-form-2{
    padding: 9%;
    background: #087eb4;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    text-align: center;
}
.login-form-2 h3, .login-form-1 h3{
    text-align: center;
    margin-bottom:12%;
    color: #fff;
}
.login-form-2 h4, .login-form-1 h4 {
    color: #fff;
}
.btnSubmit{
    font-weight: 600;
    width: 50%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding:1%;
}
.btnForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.btnForgetPwd:hover{
    text-decoration:none;
    color:#fff;
}
.form-group required input[type=email], input[type=password] {
    padding:6px 12px;
    margin:0px;
    width:100%;
    text-align: left;
}