<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <title>MathTutor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename = 'css/mathtutor.css') }}" rel="stylesheet" type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap/css/bootstrap.min.css') }}" type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename = 'js/jquery-2.0.3.min.js') }}"></script>
    <!-- Include all compiled plugins (below)f, or include individual files as needed -->
    <!-- <script src="{{ url_for('static', filename = 'bootstrap/js/bootstrap.min.js') }}"></script> -->
    <!--Angular.js-->
    <script src="{{ url_for('static', filename = 'js/angular.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/app.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename = 'js/angular.js') }}"></script> -->
    <script src="{{ url_for('static', filename = 'js/controller.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/nav-bar.css') }}">
    
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>   -->
  <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous"> -->
</head>

<body ng-init="reloadPage()" ng-controller="mathtutor" ng-app="myApp">
    <!-- <body style="margin:0px;"> -->
        <!-- navigation bar -->
        <div class="navbar" style="justify-content: flex-start;">
            <h3 style="color:white">CB Lite Games</h3>
            <h4 style="color:white">{{name }}</h4>
            <a href="/signup">Sign Out</a>
            <a href="/stat">Statistics</a>
        
            <div class="dropdown">
              <button class="dropbtn" style="color: #333;">More
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="/stat">Statistics</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </div>
          </div>
        
      
      
        <div class="sidenav">
          <a href="/game1">Letter Tracing Game</a>
          <a href="chooseGame">Math Game</a>
        </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 visible-xs">
                <div class="game-title">
                    <p class="text-center">//gametitle//</p>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <img src="{{ url_for('static', filename = 'images/apple.png') }}" class="apple apple-lives" ng-repeat="a in range(noOfApples) track by $index">
            </div>
            <div class="col-sm-4 hidden-xs">
                <div class="game-title">
                    <p class="text-center">//gametitle//</p>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="text-right reward-font">
                    <img src="{{ url_for('static', filename = 'images/chocolate.png') }}" class="apple">
                    <span>//noOfIceCreams//</span>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="panel panel-default blackboard-outer">
                <div class="panel-body blackboard">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="{{ url_for('static', filename = 'images/orange.png') }}" class="counting-object" ng-repeat="n in range(n1) track by $index">
                        </div>
                        <div class="col-sm-6">
                            <img src="{{ url_for('static', filename = 'images/orange.png') }}" class="counting-object pull-right" ng-repeat="n in range(n2) track by $index">
                        </div>
                    </div>
                    <p class="question text-center">//question// </p>
                </div>
            </div>
        </div>
        <div class="container answer-row">
            <div class="row">
                <div class="col-sm-1 hidden-xs">
                </div>
                <div class="col-sm-6 col-xs-8">
                    <input type="text" class="form-control" id="answer" placeholder="Answer here!!!!" ng-model="userAnswer" x-webkit-speech onwebkitspeechchange="onVoiceAnswer()">
                </div>
                <div class="col-sm-2 col-xs-4">
                    <button class="btn btn-primary center-block full-width" ng-click="onSubmitAnswer()" id="submitbutton">Submit</button>
                </div>
                <div class="hidden">
                    <button class="btn btn-primary" ng-click="onVoiceAnswer()" id="voicesubmitbutton">Voice Submit</button>
                </div>
                <div class="col-sm-2 hidden-xs">
                    <button class="btn btn-danger center-block full-width" ng-click="skipQuestion()">Skip</button>
                </div>
                <div class="col-sm-1 hidden-xs">
                </div>
            </div>
        </div><br/>
        <div class="container answer-row">
            <div class="row">
                <div class="col-sm-5 hidden-xs">
                </div>
                <div class="col-sm-2 hidden-xs">
                    <button class="btn btn-danger center-block full-width" ng-click="exitGame()">Record This Score</button>
                </div>
                <div class="col-sm-5 hidden-xs">
                </div>
            </div>
        </div>
    </div>
    <!--Modals-->
    <div class="modal fade" id="lost-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Womp Womp :(</h4>
                </div>
                <div class="modal-body">
                    <h2>You lost!</h2>
                    <p>Try again maybe....</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reloadPage()">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="reloadPage()">Try Again</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <script>
        $("#answer").keyup(function(event) {
            if (event.keyCode == 13) {
                $("#submitbutton").click();
            }
        });

        function onVoiceAnswer() {
            $('#voicesubmitbutton').click();
        }
    </script>
</body>

</html>