<html
><head>
    <title>Score</title>

</head>
<!-- <body ng-app="myApp" style="margin:0px;">
    <div class="navbar" style="justify-content: flex-start;">
    <h3 style="color:white">CB Lite Games</h3>
    <h4 style="color:white">{{name }}</h4>
    <a href="/signup">Sign Out</a>
    <a href="/stat">Statistics</a>

    <div class="dropdown">
      <button class="dropbtn" style="color: #333;">More
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/stat">Statistics</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
  </div>

  
    <div class="sidenav">
      <a href="#">Letter Tracing Game</a>
      <a href="#">Other Game</a>
    </div>
    <div ng-controller="mathtutor">
        // noOfIceCreams //
        
    </div>
</body> -->
<body>
  score works
</body>
</html>

<!-- score works -->