<html
><head>
    <title>Score</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename = 'css/mathtutor.css') }}" rel="stylesheet" type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap/css/bootstrap.min.css') }}" type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename = 'js/jquery-2.0.3.min.js') }}"></script>
    <!-- Include all compiled plugins (below)f, or include individual files as needed -->
    <script src="{{ url_for('static', filename = 'bootstrap/js/bootstrap.min.js') }}"></script>
    <!--Angular.js-->
    <script src="{{ url_for('static', filename = 'js/angular.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/app.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/controller.js') }}"></script>
</head>
<!-- <body ng-app="myApp" style="margin:0px;">
    <div class="navbar" style="justify-content: flex-start;">
    <h3 style="color:white">CB Lite Games</h3>
    <h4 style="color:white">{{name }}</h4>
    <a href="/signup">Sign Out</a>
    <a href="/stat">Statistics</a>

    <div class="dropdown">
      <button class="dropbtn" style="color: #333;">More
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/stat">Statistics</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
  </div>

  
    <div class="sidenav">
      <a href="#">Letter Tracing Game</a>
      <a href="#">Other Game</a>
    </div>
    <div ng-controller="mathtutor">
        // noOfIceCreams //
        
    </div>
</body> -->
<body>
  score works
</body>
</html>

<!-- score works -->