<!DOCTYPE html>
<html>
<head>
	<title>Pyrebase-Flask-Login</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/nav-bar.css') }}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>   -->
  <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous"> -->
</head>
<body style="background-color:#56baed; margin:0px;">
  <!-- navigation bar -->
  <div class="navbar" style="justify-content: flex-start;">
    <h3 style="color:white">CB Lite Games</h3>
    <a href="/signup">Home</a>
    <a href="/help">Help</a>
    <div class="dropdown">
      <button class="dropbtn">More
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
  </div>


  <div class="sidenav">
    <a href="#">Letter Tracing Game</a>
    <a href="#">Other Game</a>
  </div>
  
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <a href="/"><h2 class="inactive underlineHover"> Sign In </h2></a>
    <h2 class="active">Sign Up </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="{{ url_for('static', filename = 'user.png') }}" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form action="http://127.0.0.1:5000/register" method="POST">
      <input type="text" id="name" class="fadeIn second" name="name" placeholder="name">
      <input type="email" id="login" class="fadeIn second" name="email" placeholder="email">
      <input type="password" id="password" class="fadeIn third" name="pass" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Sign Up">
    </form>

  </div>
</div>
</body>
</html>